@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Laboratorio No.01 Estructura de Datos II</h2>
	<p class="lead">Compresión y descompresión de archivos de texto mediante algoritmo Huffman y LZW</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Huffman</h2>
        <p><a class="btn btn-default" onclick="location.href='@Url.Action("Compresion_Descompresion", "Home")'">Iniciar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>LZW</h2>
        <p><a class="btn btn-default" onclick="location.href='@Url.Action("Compresion_Descompresion_LZW", "Home")'">Iniciar &raquo;</a></p>
    </div>
</div>